/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
/*@config "../../tailwindcss.config.mjs";*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient {
  /* --size: 200px; */
  --speed: 200s;
  --easing: cubic-bezier(0.8, 0.2, 0.2, 0.8);
  left: 0;
  right: 0;
  z-index: -5;
  filter: blur(80);
  animation: rotate 120s var(--easing) alternate infinite;
  border-radius: 30% 70% 70% 30%/30% 30% 70% 70%;
}

* {
  @apply transition-all;
}
