---
import { SITE_TITLE } from '../consts';
import Logo from "./Logo.astro";
---

<header class="sticky top-1">
	<nav>
		<h1 class=" bg-amber-400 text-3xl font-bold underline">
			Hello world!
		</h1>
	</nav>
</header>
