---
const { className: classes } = Astro.props;
---

<div
  class={classes +
    " justify-center content-center justify-items-center align-middle"}
>
  <!-- w-64 h-64 md:w-72 md:h-72 lg:w-80 lg:h-80 -->
  <div
    class="gradient fixed top-0 mx-auto -z-50
    w-full h-full
    bg-gradient-to-r blur-3xl
    from-medium_slate_blue-800 to-lavender_pink-800
    dark:from-medium_slate_blue-100 dark:to-lavender_pink-100"
  >
  </div>

  <div
    class="flex flex-col mx-auto justify-center content-center
    justify-items-center items-center md:flex-row lg:px-24"
  >
    <!-- Square 1 -->
    <div
      class="w-28 h-24 rounded-3xl shadow-sm shadow-alice_blue-400 m-3 bg-naples_yellow-500 text-russian_violet-100 flex items-center justify-center"
    >
      naples_yellow
    </div>
    <!-- Square 2 -->
    <div
      class="w-28 h-24 rounded-3xl shadow-sm shadow-alice_blue-400 m-3 bg-lavender_pink-500 text-russian_violet-100 flex items-center justify-center"
    >
      lavender_pink
    </div>
    <!-- Square 3 -->
    <div
      class="w-28 h-24 rounded-3xl shadow-sm shadow-alice_blue-400 m-3 bg-alice_blue-500 text-russian_violet-100 flex items-center justify-center"
    >
      alice_blue
    </div>
    <!-- Square 4 -->
    <div
      class="w-28 h-24 rounded-3xl shadow-sm shadow-alice_blue-400 m-3 bg-medium_slate_blue-500 text-russian_violet-100 flex items-center justify-center"
    >
      slate_blue
    </div>
    <!-- Square 5 -->
    <div
      class="w-28 h-24 rounded-3xl shadow-sm shadow-alice_blue-400 m-3 bg-russian_violet-500 text-alice_blue-500 flex items-center justify-center"
    >
      russian_violet
    </div>
  </div>
</div>
