---
const { className: classes } = Astro.props;
---

<div class={classes + " justify-center content-center justify-items-center"}>
  <div
    class="gradient mx-auto bg-center fixed -z-50
    w-64 h-64 md:w-72 md:h-72 lg:w-80 lg:h-80
    bg-gradient-to-r blur-3xl
    from-medium_slate_blue-400 to-lavender_pink-400
    dark:from-medium_slate_blue-200 dark:to-lavender_pink-200"
  >
  </div>

  <div
    class="flex flex-col mx-auto justify-center content-center
    justify-items-center items-center md:flex-row lg:px-24"
  >
    <div
      class="w-40 h-40 sm:w-64 sm:h-64 lg:w-72 lg:h-72 overflow-hidden rounded-full
      bg-gradient-radial from-alice_blue-500 to-alice_blue-100"
    >
      <img
        class="w-40 h-40 sm:w-64 sm:h-64 lg:w-72 lg:h-72 drop-shadow-lg backdrop-blur"
        src={"/avatar-color.png"}
        alt="Avatar"
      />
    </div>
    <div class="px-12 xs:w-full sm:w-8/12 md:w-6/12 lg:w-5/12 xl:w-4/12">
      <h1 class="text-alice_blue-400 text-center text-3xl py-2">
        Daniel Chaviano Pérez
      </h1>
      <h1 class="text-naples_yellow text-center text-lg py-2">
        Software Engineer
      </h1>
      <p class="text-alice_blue text-center text-lg text-wrap py-4">
        Backend developer, interested in AI, Frontend Development, Algorithm
        Designing, Software Architecture.
      </p>
      <p class="text-lavender_pink-600 text-center text-xs">
        Also likes music,planes,photography,design.
      </p>
    </div>
  </div>
</div>
