---
import { Icon } from "astro-icon/components";

import { Button } from "@components/ui";
---

<div class="relative h-screen py-20">
  <!-- Background nebula -->
  <div
    class="absolute w-full h-full top-0 left-0 overflow-hidden -z-50 justify-center content-center justify-items-center align-middle flex"
  >
    <div
      class="gradient right-1/2 w-1/2 h-3/4 bg-gradient-to-r blur-3xl overflow-hidden from-alice_blue-500 to-lavender_pink-700 dark:from-medium_slate_blue-100 dark:to-lavender_pink-100"
    >
    </div>
  </div>

  <div
    class="flex flex-col gap-4 mx-auto justify-center content-center justify-items-center items-center md:flex-row lg:px-24"
  >
    <Button text="Click me" type="button" variant="secondary" />
    <button
      onclick="(() => document.body.classList.toggle('dark'))()"
      class="rounded-lg p-2 bg-gray-200 dark:bg-gray-700 dark:text-white"
    >
      <Icon name="tabler/sun" class="size-6" />
    </button>
    <!-- Square 1 -->
    <div
      class="w-28 h-24 rounded-3xl shadow-sm shadow-alice_blue-400 bg-naples_yellow-500 text-russian_violet-100 flex items-center justify-center"
    >
      naples_yellow
    </div>
    <!-- Square 2 -->
    <div
      class="w-28 h-24 rounded-3xl shadow-sm shadow-alice_blue-400 bg-lavender_pink-500 text-russian_violet-100 flex items-center justify-center"
    >
      lavender_pink
    </div>
    <!-- Square 3 -->
    <div
      class="w-28 h-24 rounded-3xl shadow-sm shadow-alice_blue-400 bg-alice_blue-500 text-russian_violet-100 flex items-center justify-center"
    >
      alice_blue
    </div>
    <!-- Square 4 -->
    <div
      class="w-28 h-24 rounded-3xl shadow-sm shadow-alice_blue-400 bg-medium_slate_blue-500 text-russian_violet-100 flex items-center justify-center"
    >
      slate_blue
    </div>
    <!-- Square 5 -->
    <div
      class="w-28 h-24 rounded-3xl shadow-sm shadow-alice_blue-400 bg-russian_violet-500 text-alice_blue-500 flex items-center justify-center"
    >
      russian_violet
    </div>
  </div>
</div>
