---
const { className: classes } = Astro.props;
---
<div
  class={classes +
    " justify-center content-center justify-items-center align-middle flex"}
>
  <!-- w-64 h-64 md:w-72 md:h-72 lg:w-80 lg:h-80 -->

  <div
    class="absolute w-screen h-full
  overflow-hidden -z-50 justify-center content-center justify-items-center align-middle flex"
  >

</div>
