---
import { BaseHead, Header, Footer } from "@/components/base";

import { SITE_TITLE, SITE_DESCRIPTION } from "@config/siteData";
---

<!doctype html>
<html lang="en">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body class="dark:bg-dark">
    <slot name="header">
      <Header />
    </slot>

    <main>
      <slot />
    </main>

    <slot name="footer">
      <Footer />
    </slot>
  </body>
</html>
